<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pch.eurekaclient.mapper.UserMapper">

  <resultMap id="baseResultMap" type="com.pch.eurekaclient.domain.UserDo">
    <id column="id" property="id"/>
    <result column="username" property="username"/>
    <result column="password" property="password"/>
    <result column="telephone" property="telephone"/>
    <result column="email" property="email"/>
  </resultMap>

  <resultMap id="deptResultMap" type="com.pch.eurekaclient.domain.UserDo" extends="baseResultMap">
    <collection property="deptDos" column="id" ofType="com.pch.eurekaclient.domain.DeptDo"
      select="com.pch.eurekaclient.mapper.DeptMapper.findByUserId"/>
  </resultMap>

  <select id="findAll" resultMap="deptResultMap">
    select * from tb_user
  </select>


</mapper>
