<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pch.user.organization.dao.ResourceDao">
  <resultMap id="BaseResultMap" type="com.pch.user.organization.model.po.ResourcePo">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="code" jdbcType="VARCHAR" property="code"/>
    <result column="type" jdbcType="VARCHAR" property="type"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="url" jdbcType="VARCHAR" property="url"/>
    <result column="method" jdbcType="VARCHAR" property="method"/>
    <result column="description" jdbcType="VARCHAR" property="description"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
    <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
    <result column="version" jdbcType="INTEGER" property="version"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, code, `type`, `name`, url, `method`, description, created_time, updated_time,
    created_by, updated_by, version
  </sql>

  <select id="findByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tb_resource tr
           inner join tb_role_resource trr on tr.id = trr.resource_id
           inner join tb_user_role tur on tur.role_id = trr.role_id
    where tur.user_id = #{userId,jdbcType=BIGINT}
  </select>

</mapper>
